<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Magazyn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <Magazyn.Properties.Settings>
            <setting name="Baza" serializeAs="String">
                <value>magazyn</value>
            </setting>
            <setting name="Serwer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>pracownik</value>
            </setting>
            <setting name="HasloMaila" serializeAs="String">
                <value>15Y7pt3mXSOmX9FM5ylUxNAMOZGOHscPqu7Tplb+qKo0eTFFifE/vilBPEWniFkhh1AoND1Ie7cH9yuI+rjSkYS2EloUF01vsH0d/n+kviBd0ByueLwDNDCTV7k7WveI</value>
            </setting>
            <setting name="StopkaMaila" serializeAs="String">
                <value>Wiadomość wysyłana automatycznie. Nie odpowiadaj na tego maila. W razie uwag proszę o kontakt z </value>
            </setting>
            <setting name="EmailKopii" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAutomatu" serializeAs="String">
                <value />
            </setting>
            <setting name="NaglowekMaila" serializeAs="String">
                <value />
            </setting>
            <setting name="HasloSQL" serializeAs="String">
                <value>oSH2WBFnRzkEYnxMTHOsWHJiO3JAehcydDwxIXbzuTSLNsu4uASGso1VVWXllNsL</value>
            </setting>
            <setting name="HasloProgramu" serializeAs="String">
                <value>oSH2WBFnRzkEYnxMTHOsWHJiO3JAehcydDwxIXbzuTSLNsu4uASGso1VVWXllNsL</value>
            </setting>
            <setting name="SMTPAutomatu" serializeAs="String">
                <value />
            </setting>
            <setting name="TypSQL" serializeAs="String">
                <value>MSSQL</value>
            </setting>
        </Magazyn.Properties.Settings>
    </userSettings>
</configuration>
